[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
jupyterlab = "*"
prodigy = {path = "./../../Downloads/prodigy-1.5.1-cp35.cp36-cp35m.cp36m-linux_x86_64.whl"}
google-images-download = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
turicreate = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.6"
